<!DOCTYPE html>
<html landg="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DEMO</title>
</head>
<body>
    <nav>
      <div class="title">
        <h1>Blog demo</h1>
      </div>

      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>


    <div create_ctn>
      <form>
        <label for="title">Blog Title:</label>
        <input type="text" id="title" name="title" required>
        <label for="content">Blog Content:</label>
        <textarea id="content" name="content" rows="4" cols="50" required></textarea> 
        <button type="submit">Create Blog</button>
      </form>
    </div>
</body>
</html>