<!DOCTYPE html>
<html landg="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DEMO</title>
</head>
<body>
    <nav>
      <div class="title">
        <h1>Blog demo</h1>
      </div>

      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>


    <div blogs_ctn>
      <div class="blogs content">
        <h2>All Blogs</h2>
      </div>
    </div>
</body>
</html>